body {
  font-family: Arial, sans-serif;
  
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gray;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
 
}
.container img
{
    
    max-height: 100px;
}
#palindrome-checker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
gap: 20px;
}